.App {
   text-align: center;
   
}

.multiCards {
   align-items: center;
   margin: 5pt;
   flex-flow: row nowrap;
   justify-content: center;
   display: flex;
   gap: 40pt;
   
}

.indvCard {
   padding-left: 10pt;
   padding-right: 10pt;
   background-color: rgb(68, 127, 151, 0.7);
   border-radius: 10pt;
   padding-bottom: 10pt;
   text-decoration: none;
   
}

.name {
   margin-top: -10pt;
   margin-bottom: 5pt;
   text-decoration: none;
}

.button {
   position: relative;
   left: 105pt;
   margin-top: 10pt;
   background-color: rgb(83, 168, 207);
   border-radius: 5pt;
   border: 0%;
   font-weight: "bold";
   cursor: pointer;
   
}

 .button:hover {
   background-color: rgb(173, 73, 73);
   padding: 4px 10px;
   transform: scale(1.1);
 }

 .description {
   display: inline-block;
   width: 150px;
   margin: -10px;   
 }

 .img {
   margin-bottom: 1px;
   border-radius: 20px;
 }


.searchBar {
   height:30px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.searchBtn {
   height:30px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: rgb(71, 116, 199);
   border-color: rgb(122, 199, 199);
   cursor: pointer;
   font-weight: bold;
}


.searchBtn:hover {
   height:30px;
   margin-top: 20px;
   margin-bottom: 20px;
   background-color: rgb(163, 71, 199);
   border-color: rgb(122, 199, 199);
}



.navBar {
   background-color: rgb(39, 131, 206, 0.7);
   border-radius: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: "25px 0px 25px 0px";
   margin-right: "15px";
   padding: 10px;
   
}

.links{
   text-decoration: none;
   font-weight: bold;
   font-size: 18px;
   color: rgb(99, 202, 206);
   padding: 10px;
   margin: 0px 15px;
   
 }
 
 .links:hover{
   color: white;
   background-color: rgba(255, 255, 255, 0.2);
   border-radius: 10px;
   padding: 10px;
 }

 .about{
   background-color: rgb(49, 108, 131, 0.7);
   border-radius: 25px;
   margin: 20px;
 }

 .aboutImg{
   width: 200px;
    height: auto;
    padding: 20px;
    border-radius: 40px;
 }
 
 .divPrin {
   color: white;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 75px;
 }
 .styleButton  {
   background-color: rgb(58, 124, 179);
   color: rgb(201, 209, 206);
   border: 0px;
   border-radius: 5px;
   font-weight: bold;
   font-size: 15px;
   padding: 10px;
   margin-top: 35px;
   cursor: pointer;
 };

 